<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= t("description") %>">
    <meta name="keywords" content="<%= t("keywords") %>">
    <meta name="author" content="Playcocola">
    <link rel="icon" href="<%= image_path "favicon.png" %>" type="image/png">
    <title>Playcocola · <%= t("#{current_page.path.match(/(\w+)\./)[1]}.title") %></title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W4GV5KFWRW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-W4GV5KFWRW');
    </script>

  </head>
  <body class="font-hero color-background-1">
    <div class="container-fluid p-0">
        <header class='container'>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 color-border-bottom">
                <a href="./" class="d-flex align-items-center text-dark text-decoration-none">
                    <%= image_tag "Logo.png", alt: "Playcocola", height: 32, class: "me-2"%>
                    <span class="fs-4 font-logo">Playcocola</span>
                </a>

                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 text-dark text-decoration-none" href="./"><%= t("menu.home") %></a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="./faq"><%= t("menu.faq") %></a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="./pricing"><%= t("menu.pricing") %></a>
                    <a class="py-2 text-dark text-decoration-none btn btn-warning" href="./subscribe"><%= t("menu.promotion") %></a>
                </nav>
            </div>
        </header>

        <%= yield %>

        <footer class="container pt-5 my-5 text-muted color-border-top text-center">
            <%= t("footer.text") %>  &middot; <a class="me-3 py-2 text-dark" href="mailto:hello@playcocola.com" target="_blank"><%= t("menu.contact") %> <br />
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>
