<main>
    <section class="font-size-hero text-center mb-3 container">
      <p>
        Are you an indie developer?
      </p>

      <p>
        Are you having difficulties to receive valuable play testing sessions?
      </p>

      <p>
        We are creating the easiest way to allow your players to record videos of their play sessions
        and send them to you!
      </p>

      <a href="./subscribe.html" class="btn btn-warning btn-xl mt-3"><%= t("subscribe_button") %></a>
    </section>


    <div class="card card-index py-2 text-center text-md-start color-background-2">
      <div class="row">
        <div class="col-md-4 text-md-end">
          <%= image_tag "Bottle.png", class: "img-fluid", alt: "how to 01", height: "250px" %>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <p class="card-text font-size-hero"><span class="font-logo" style="font-size: 1.2em">Playcocola</span> is a play testing platform specially made for indie developers. It is simple, easy to use and inexpensive.</p>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>

    <div class="card card-index py-2 text-center text-md-start color-background-3 ">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <p class="card-text font-size-hero">
              Just send an <strong>invitation link</strong> to your play testers.
              They just have to click on it to start recording video of their session.
              The video will be sent to you automatically.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <%= image_tag "Play_Record.png", class: "img-fluid", alt: "how to 01", width: "400px" %>
        </div>
      </div>
    </div>

    <div class="card card-index py-2 text-center text-md-start color-background-2 ">
      <div class="row">
        <div class="col-md-4 text-md-end">
          <%= image_tag "Reward.png", class: "img-fluid", alt: "how to 01", width: "400px" %>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <p class="card-text font-size-hero">
              Give them an <strong>appreciation reward</strong> for their effort.
              It can be anything from a couple of euros on a steam voucher to just a thank you message.
            </p>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>

    <div class="card card-index py-2 text-center text-md-start color-background-3 ">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <p class="card-text font-size-hero">
              <strong>Visualize</strong> the play test sessions directly online or download
              them to your computer. <strong>Recontact your play testers</strong> if you need it.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <%= image_tag "Dashboard.png", class: "img-fluid", alt: "how to 01", width: "400px" %>
        </div>
      </div>
    </div>


    <div class="text-center">
      <a href="./subscribe.html" class="btn btn-warning btn-xl mt-3"><%= t("subscribe_button") %></a>
    </div>
</main>
